

 <a href="https://garantie.market" class="logo-clickable">
        <img src="https://cdn.shopify.com/s/files/1/0459/5879/1320/files/logo_96cf7697-d2f0-40a0-92e9-6005be304fea.png?v=1668195212"
            alt="Logo de notre site " />
    </a>
    <div class="logo-container"></div>
