<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta
		charset="UTF-8"/>
		{# <meta http-equiv="X-UA-Compatible" content="IE=edge" /> #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="preconnect" href="https://cdnjs.cloudflare.com"/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{% block stylesheets %}
			<link rel="stylesheet" href="/globales.css">
			<link rel="stylesheet" href="./_responsive.css">
		{% endblock %}
		{# <link rel="stylesheet" href="/devis.css"> #}
		{# <link rel="stylesheet" href="/page-3.css">
		<link rel="stylesheet" href="/reparation.css"> #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
		<title>
			{% block title %}
				Point Garantie -
			{% endblock %}
		</title>
	</head>
	<body>
		{{ include('_partials/header.html.twig') }}

		{% block body %}{% endblock %}

		{{ include('_partials/footer.html.twig') }}

	</body>

</html>
